Repository netlify/staticgen, pull requests merged in 2020-07, with the labels that each got.

#787 Updated Stog's homepage
  content/projects/stog.md
Labels: type: content

#784 Add tinyjam
  content/projects/tinyjam.md
Labels: type: content

#778 Create codedoc.md
  content/projects/codedoc.md
Labels: type: content

#776 Add the Bridgetown static site generator
  content/projects/bridgetown.md
Labels: type: content

#775 Add Franklin
  content/projects/franklin.md
Labels: type: content

#790 Added Ago to the list of projects
  content/projects/ago.md
Labels: type: content

#814 Invalid front matter, was logging a console.log error
  content/projects/wg.md
Labels: type: bug

#772 Added lastpage
  content/projects/lastpage.md
Labels: type: content

#771 Update Scully data
  content/projects/scully.md
Labels: type: content

#816 Update dependencies
  package-lock.json
  package.json
  src/components/sharebutton.js
Labels: type: chore

#737 misc: update Docusaurus details
  content/projects/docusaurus.md
Labels: type: content

#743 Added 20ful project.
  content/projects/20ful.md
Labels: type: content

#744 Delete carew.md
  content/projects/carew.md
Labels: type: content

#755 Add Kart
  content/projects/kart.md
Labels: type: content

#756 phpoole.md to cecil.md
  content/projects/cecil.md
  static/_redirects
Labels: type: content

#760 Added sitegen.md
  content/projects/sitegen.md
Labels: type: content

#765 Update orchid.md with correct website
  content/projects/orchid.md
Labels: type: content

#804 zeit => vercel
  content/projects/next.md
Labels: type: content

#813 change language for Cogear.JS to JavaScript
  content/projects/cogear.js.md
Labels: type: content

#795 Add Static Markdown
  content/projects/static-markdown.md
Labels: type: content

#798 add Statiq Web
  content/projects/statiq.md
Labels: type: content

#803 Added Abell to projects
  content/projects/abell.md
Labels: type: content

#807 Create idlisite.md
  content/projects/idlisite.md
Labels: type: content

#799 Add Record Collector project
  content/projects/record-collector.md
Labels: type: content

#777 Create openrat.md
  content/projects/openrat.md
Labels: question, type: content
